@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2? family= Dongle:wght@300 & family= Lavishly+Yours & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Sriracha & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Passion+One & display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Dongle', sem serifa;
    --fonte3: 'Sriracha',;
    --fonte4: 'Passion One', cursive;
}

/*'Dongle', sem serifa;*/

{}

*{
    padding: 0%;
    margin: 0%;
}

html, body{
    min-height: 100vh;
    background-color: rgba(105, 105, 105, 0.562);
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    padding: 5px;
}

header > h1{
    text-align: center;
    font-variant: small-caps;
    padding-top: 25px;
    font-family: var(--fonte4);
    font-size: 7vw;
}

header > p{
    font-family: var(--fonte3);
    text-align: center;
    padding-bottom: 25px;
    font-size: 2.5vw;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte4);
    font-size: 4.5vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(44, 44, 44);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.324);
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.285);
}

section#img01{
    background-image: url('../imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section#img02{
    background-image: url('../imagens/saturnovirado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div{
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: rgba(202, 57, 57, 0.74);
    text-align: center;
    font-family: var(--fonte2);
    font-size: 1.5vh;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 6px;
    font-size: 1.5vh;
}